.fondo{
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.6uKZ2ZLBTL7hgZXveJoPiQHaEK&pid=Api&P=0&w=272&h=154);
    margin:0;
    height: 3500px;
}
.reset{
   
  
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
  height: 30px;
  background: linear-gradient(45deg, #B388EB, #8093F1);
  text-align: center;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}
.reset:hover{
    padding: 10px;
    height: 40px;
    font-size: 16px;
    color: black;
}

.resett{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    background: linear-gradient(45deg, #B388EB, #8093F1);
    text-align: center;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    margin-top: 25px;
}
.resett:hover{
    padding: 10px;
    height: 40px;
    font-size: 16px;
    color: black;
}
.select{
    margin-right: 10px;
    background-color:  #B388EB;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
    
}
.botonsito{
    
        border: 1px solid #dedede;
        border-radius: 10px;
        color:royalblue;
        
        font: bold 12px/12px HelveticaNeue, Arial;
        padding: 7px 9px;
        text-decoration: none;    
        background-color:black;
        border-color:royalblue;
        border-width: 2px ;
        margin: 7px;
    }
    .botonsito:hover{
        background-color: royalblue;
        border-color:black;
        color:black;
        padding: 10px 12px;
    }
  